{% extends 'social/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white">
            <h2 class="h5 mb-0">Criar Conta</h2>
        </div>
        <form method="post" enctype="multipart/form-data" class="card-body">
            {% csrf_token %}
            <div class="row g-3">
                {% for field in form %}
                <div class="col-12">
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label fw-bold">
                            {{ field.label }}:
                        </label>
                        {% render_field field class="form-control" id=field.id_for_label required="required" %}
                    </div>
                </div>
                {% endfor %}

                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary px-4">
                        <i class="bi bi-person-plus me-2"></i>Criar Conta
                    </button>
                </div>
            </div>
        </form>
        <div class="col-12 text-center mt-3">
            <p class="mb-0">ja tem conta? <a href="{% url 'login' %}"
                    class="text-decoration-none">login</a></p>
        </div>
    </div>
</div>
{% endblock content %}